{% extends 'base.html' %}

{% block title %} 
- Add Income
{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'income-index' %}">My Income</a></li>
      <li class="breadcrumb-item active" aria-current="page">Add Income</li>
    </ol>
</nav>

<div class="col-md-8">
    <form action="{% url 'add-income' %}" method="post" novalidate>

        {% csrf_token %}

        <div class="row mb-3">
          <label for="amount" class="col-sm-2 col-form-label">Amount</label>
          <div class="col-sm-10">
            <div class="input-group mb-3">
                <span class="input-group-text">$ {{ user_currency_symbol }}</span>
                <input type="number" class="form-control" id="amount" name="amount" min="0" step=".01" value="{{ dict_fields.amount }}">
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <label for="date" class="col-sm-2 col-form-label">Date</label>
          <div class="col-sm-10">
            <input type="date" class="form-control" id="date" name="date" max="{{ today }}" value="{{ dict_fields.date }}">
          </div>
        </div>

        <div class="row mb-3">
          <label for="description" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <textarea class="form-control" placeholder="Enter income description here." id="description" style="height: 100px" name="description">{{ dict_fields.description }}</textarea>
          </div>
        </div>

        <fieldset class="row mb-3">
          <legend class="col-form-label col-sm-2 pt-0">Income Stream</legend>
            <div class="col-sm-10">

                {% for streamObj in income_streams %}

                  {% if dict_fields.income_stream == streamObj.income_stream %}

                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="income-stream" id="income-stream-{{ streamObj.income_stream }}" value="{{ streamObj.income_stream }}" checked>
                      <label class="form-check-label" for="income-stream-{{ streamObj.income_stream }}">{{ streamObj.income_stream }}</label>
                    </div>

                  {% else %}

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="income-stream" id="income-stream-{{ streamObj.income_stream }}" value="{{ streamObj.income_stream }}">
                        <label class="form-check-label" for="income-stream-{{ streamObj.income_stream }}">{{ streamObj.income_stream }}</label>
                    </div>

                  {% endif %}

                
                {% endfor %}
            

            </div>
  
        </fieldset>


        <button type="submit" class="btn btn-primary">Add</button>
    </form>

</div>



{% endblock %}